<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


    <!--<bean id="NormalBook"       class="SpringTest.NormalBook">          </bean>-->
    <!--<bean id="DbBbook"          class="SpringTest.DbBook">              </bean>-->
    <!--<bean id="DbManager"        class="com.mkyong.rest.DbManager">      </bean>-->
    <!--<bean id="PersonsManager"   class="com.mkyong.rest.PersonsManager">-->
        <!--<constructor-arg ref="DbManager"/>-->
    <!--</bean>-->

</beans>